* {
    box-sizing: border-box;
}

.navbar {
    display:flex;
    justify-content:flex-end;
    align-items:center;
    font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
    font-size:13px;
    color:rgba(0,0,0,0.8);
    margin-right:20px;
}

.navbar__menu1 {
    margin-top:4px;
    padding-right:18px;
}

.navbar__menu2 {
    margin-top:3px;
    padding-right:18px;
}

.navbar__menu3 {
    margin-top:3px;
    padding-right:18px;
}

.navbar__menu3 i {
    
    cursor:pointer;
    font-size:18px;
    color:rgba(0,0,0,0.5);
}

.navbar__icon {
    margin-top:5px;
    width:32px;
    height:32px;
    border-radius:50%;
    border:1px solid white;
    cursor:pointer;
}

.container {
    width:1200px;
    margin: 0 auto;
}

 .title {
     display: block;
    text-align: center;
    font-size:5rem;
    height: 238px;
    font-family:'Open Sans', sans-serif;
    padding-top: 88px;
    margin-top: 10px;
 }

.title__a {
    text-decoration: none;
}

span:nth-child(1) {
    color:#4285f4;
}
span:nth-child(2) {
    color:#ea4335;
}
span:nth-child(3) {
    color:#fbbc05;
}
span:nth-child(4) {
    color:#4285f4;
}
span:nth-child(5) {
    color:#34a853;
}
span:nth-child(6) {
    color:#ea4335;
}

 .search {
     display:flex;
     justify-content:center;
    }

 .searchbar {
    width:561px;
    height:44px;
    border-radius:20px;
    padding:5px 8px 0px 14px;
    box-shadow:rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
}

.searchbar__search {
    display:flex;
}

.searchbar__btn {
    margin-top:4px;
    padding-right:7px ;
    color:rgb(117,117,117);
}

.searchbar__input {
    width:447px;
    height:34px;
    border:none;
    outline-width:0;
    margin:0;
}

.searchbar__input:focus::placeholder {
    color:transparent;
}

.searchbar__keyboard {
    padding:5px;
    margin-left: 10px;
    cursor:pointer;
}

.searchbar__microphoen {
    padding:6px;
    margin-left:10px;
    cursor:pointer;
}

.searchbar__microphoen i {
    font-size:20px;
}


@media screen and (max-width: 768px) {

.container {
    width: 100%;
}

.title {
    font-size: 4rem;
}

.searchbar {
    width: 60%;
}
}

@media screen and (max-width: 475px) {

.searchbar__keyboard {
    display: none;
    }

.searchbar {
    width:70.8%;
}

.searchbar__input::placeholder {
   font-size:small;
}
}

.navbar {
    margin: 0px;
}

.navbar__menu1,
.navbar__menu2,
.navbar__menu3,
.navbar__menu4 {
    padding-right: 10px;
}

@media screen and (max-width: 375px) {

.searchbar {
     width:80.8%;
}
}


@media screen and (max-width: 320px) {
        
.searchbar {
     width:90.8%;
}
}